<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!-- <a class="navbar-brand" routerLink="/home"> <img src="/assets/logo.jpg" alt="" class="avatar"> </a> -->
    <button class="navbar-toggler" type="button" (click)="toggleNavbar()" data-toggle="collapse"
      data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse" id="navbarSupportedContent">
  
       <ul class="navbar-nav mr-auto">
      <!--  <li class="nav-item">
          <a class="nav-link" routerLink="/prediction/" routerLinkActive="active">Predictions</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/faq/" routerLinkActive="active">FAQ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/econsumption/" routerLinkActive="active">E-Consumptions</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/chatbot/" routerLinkActive="active">Chat Bot</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/mile-stone/" routerLinkActive="active">Mile Stones</a>
        </li> -->
  
        <li class="nav-item dropdown" ngbDropdown *ngIf="isAdmin()">
          <a class="nav-link dropdown-toggle" ngbDropdownToggle id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false" routerLinkActive="active"> Administration
          </a>
          <div class="dropdown-menu" ngbDropdownMenu aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink="/user/" routerLinkActive="active">Users</a>
            <a class="dropdown-item" routerLink="/customer-category/" routerLinkActive="active">Customer Category</a>
            <a class="dropdown-item" routerLink="/chatbot-data/" routerLinkActive="active">Chatbot Data</a>
            <a class="dropdown-item" routerLink="/app-param/" routerLinkActive="active">App Params</a>
          </div>
        </li>
      </ul>
  
  
      <ul class="navbar-nav ml-auto topnav">
  
        <!-- <li class="nav-item">
          <a class="nav-link" href="#">Option</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Shop </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Event</a>
        </li> -->
  
        <li class="nav-item dropdown" *ngIf="username" ngbDropdown>
          <a class="nav-link dropdown-toggle" ngbDropdownToggle id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <b>{{username}}</b> - {{type}}
          </a>
          <div class="dropdown-menu" ngbDropdownMenu aria-labelledby="navbarDropdown">
            <a class="dropdown-item" (click)="userAccount()" routerLinkActive="active">Account</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" (click)="logout()">Logout</a>
          </div>
        </li>
  
        <li class="nav-item">
          <a class="nav-link" *ngIf="!username">Login</a>
        </li>
  
      </ul>
    </div>
  
  </nav>