<h3>User Details</h3>

<form #userForm="ngForm" (ngSubmit)="onSubmit()" class="mt-4">

  <div class="form-row">

    <div class="form-group col-md-3">
      <label for="id">ID</label>
      <input #id="ngModel" [(ngModel)]="user.id" name="id" id="id" type="text" class="form-control" [readonly]="true">
    </div>

    <div class="form-group col-md-3">
      <label for="type">Type</label>
      <select #type="ngModel" [(ngModel)]="user.type" name="type" id="type" class="form-control" required
        [disabled]="isReadOnly">
        <option value="ADMIN">ADMIN</option>
        <option value="NORMAL">NORMAL</option>
      </select>
      <div class="invalid-feedback d-block" *ngIf="type.touched && type.invalid"> Type is Required </div>
    </div>

    <div class="form-group col-md-3">
      <label for="score">Score</label>
      <input [ngModel]="score" name="score" id="score" type="text" class="form-control" [readonly]="true">
    </div>

  </div>

  <div class="form-group">
    <label for="firstName">First Name</label>
    <input #firstName="ngModel" [(ngModel)]="user.firstName" name="firstName" id="firstName" type="text" class="form-control col-md-9"
      required [readonly]="isReadOnly">
    <div class="invalid-feedback d-block" *ngIf="firstName.touched && firstName.invalid"> First Name is Required </div>
  </div>

  <div class="form-row">

    <div class="form-group col-md-5">
      <label for="price">Last Name</label>
      <input #lastName="ngModel" [(ngModel)]="user.lastName" name="lastName" id="lastName" type="text"
        class="form-control" required [readonly]="isReadOnly">
      <div class="invalid-feedback d-block" *ngIf="lastName.touched && lastName.invalid"> Last Name is Required </div>
    </div>

    <div class="form-group col-md-4">
      <label for="password">Password</label>
      <input #password="ngModel" [(ngModel)]="user.password" name="password" id="password" type="password"
        class="form-control" required [readonly]="isReadOnly">
      <div class="invalid-feedback d-block" *ngIf="password.touched && password.invalid"> Password is Required </div>
    </div>

  </div>

  <div class="form-group">
    <label for="email">Email</label>
    <input #email="ngModel" [(ngModel)]="user.email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" name="email" id="email" class="form-control col-md-9" required
      [readonly]="isReadOnly">
    <div class="invalid-feedback d-block" *ngIf="email.touched && email.invalid"> Email is Invalid
    </div>
  </div>

  <div class="form-group">
    <label for="phone">Phone</label>
    <input #phone="ngModel" [(ngModel)]="user.phone" name="phone" id="phone" maxlength="10" pattern="^\d{10}$" placeholder="0112223333" class="form-control col-md-9" required
      [readonly]="isReadOnly" rows="3">
    <div class="invalid-feedback d-block" *ngIf="phone.touched && phone.invalid"> Phone is Required
    </div>
  </div>

  <div>
    <a routerLink="/user" class="btn btn-secondary"> User List</a>
    <button class="btn btn-success" [disabled]="!userForm.valid || isReadOnly">Save</button>
    <button *ngIf="user.id" type="button" (click)="edit()" class="btn btn-primary">Edit</button>
  </div>

</form>