<h3>FAQ List</h3>

<p class="float-right">
  <a routerLink="/faq/new" class="btn btn-primary">
    <i class="fa fa-plus"></i> New Question
  </a>
</p>

<p>
  <input #query (keyup)="filter(query.value)" type="text" placeholder="Search..." class="form-control">
</p>

<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Question</th>
      <th>Username</th>
      <th>Created Date</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let forumQuestion of filteredForumQuestionList" [routerLink]="[forumQuestion.id]">
      <td>{{forumQuestion.id}}</td>
      <td>{{forumQuestion.question}}</td>
      <td>{{forumQuestion.username}}</td>
      <td>{{forumQuestion.createdDate}}</td>
      <td>
        <a [routerLink]="[forumQuestion.id]">Manage</a>
      </td>
    </tr>
  </tbody>
</table>