<h3>Electricity Consumption {{ selectedCategory }} </h3>

<div class="mt-4 mb-3">
  <a routerLink="/econsumption/" class="btn btn-warning"> All </a>
  <a routerLink="/econsumption/" [queryParams]="{ category: 'planned' }" class="btn btn-success"> Planned </a>
  <a routerLink="/econsumption/" [queryParams]="{ category: 'completed' }" class="btn btn-success"> Completed </a>
  <a routerLink="/econsumption/new" class="btn btn-primary float-right"> New E-Consumption </a>
</div>

<p>
  <!-- <input #query (keyup)="filter(query.value)" type="text" placeholder="Search..." class="form-control"> -->
</p>

<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Consumption Date</th>
      <th>ConsumptionPlanned</th>
      <th>Consumption Planned Cost</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let eConsumption of filteredEConsumptionList" [routerLink]="[eConsumption.id]">
      <td>{{eConsumption.id}}</td>
      <td>{{eConsumption.consumptionDate}}</td>
      <td>{{eConsumption.consumptionPlanned}}</td>
      <td>{{eConsumption.consumptionPlannedCost}}</td>
      <td>
        <a [routerLink]="[eConsumption.id]">Manage</a>
      </td>
    </tr>
  </tbody>
</table>