<h3>eConsumption Details</h3>

<div class="row">

    <div class="col-md-7">
        <form #eConsumptionForm="ngForm" (ngSubmit)="onSubmit()" class="mt-4">

            <div #consumptionDetails id="consumptionDetails">
                <div class="form-row">

                    <div class="form-group col-md-5">
                        <label for="id">ID</label>
                        <input #id="ngModel" [(ngModel)]="eConsumption.id" name="id" id="id" type="text"
                            class="form-control" [readonly]="true">
                    </div>

                    <div class="form-group col-md-5">
                        <label for="consumptionPlannedDate">Consumption Planned Date</label>
                        <input #consumptionPlannedDate="ngModel" [(ngModel)]="eConsumption.consumptionPlannedDate"
                            name="consumptionPlannedDate" id="consumptionPlannedDate" type="text" class="form-control"
                            [readonly]="true">
                    </div>

                </div>

                <div class="form-group">
                    <label for="consumptionDate">Consumption Date</label>
                    <input #consumptionDate="ngModel" [ngModel]="eConsumption.consumptionDate | date:'yyyy-MM'"
                        (ngModelChange)="eConsumption.consumptionDate = $event" name="consumptionDate"
                        id="consumptionDate" type="month" class="form-control col-md-5" required
                        [readonly]="isReadOnly">
                    <div class="invalid-feedback d-block" *ngIf="consumptionDate.touched && consumptionDate.invalid">
                        Consumption
                        Date is Required </div>
                </div>

                <div class="form-row">

                    <div class="form-group col-md-5">
                        <label for="consumptionPlanned">Consumption Planned</label>
                        <input #consumptionPlanned="ngModel" [(ngModel)]="eConsumption.consumptionPlanned"
                            name="consumptionPlanned" id="consumptionPlanned" type="number" class="form-control"
                            required [readonly]="isReadOnly">
                        <div class="invalid-feedback d-block"
                            *ngIf="consumptionPlanned.touched && consumptionPlanned.invalid">
                            Consumption Planned is Required </div>
                    </div>

                    <div class="form-group col-md-5">
                        <label for="consumptionPlannedCost">Consumption Planned Cost</label>
                        <div class="input-group">
                            <div class="input-group-prepend"> <span class="input-group-text"
                                    id="basic-addon1">LKR</span>
                            </div>
                            <input #consumptionPlannedCost="ngModel" [(ngModel)]="eConsumption.consumptionPlannedCost"
                                name="consumptionPlannedCost" id="consumptionPlannedCost" type="number"
                                class="form-control" required [readonly]="isReadOnly">
                        </div>
                    </div>

                </div>

                <div class="form-row" *ngIf="eConsumption.id">

                    <div class="form-group col-md-5">
                        <label for="consumptionActual">Consumption Actual</label>
                        <input #consumptionActual="ngModel" [(ngModel)]="eConsumption.consumptionActual"
                            name="consumptionActual" id="consumptionActual" type="number" class="form-control"
                            [readonly]="isReadOnly">
                    </div>

                    <div class="form-group col-md-5">
                        <label for="consumptionActualCost">Consumption Actual Cost</label>
                        <div class="input-group">
                            <div class="input-group-prepend"> <span class="input-group-text"
                                    id="basic-addon1">LKR</span>
                            </div>
                            <input #consumptionActualCost="ngModel" [(ngModel)]="eConsumption.consumptionActualCost"
                                name="consumptionActualCost" id="consumptionActualCost" type="number"
                                class="form-control" [readonly]="isReadOnly">
                        </div>
                    </div>


                </div>
            </div>

            <div>
                <a routerLink="/econsumption" class="btn btn-secondary">E-Consumption List</a>
                <a routerLink="/prediction/new" class="btn btn-warning">Prediction</a>
                <button class="btn btn-success" [disabled]="!eConsumptionForm.valid || isReadOnly">Save</button>
                <button *ngIf="eConsumption.id" type="button" (click)="edit()" class="btn btn-primary">Edit</button>
                <button type="button" class="btn btn-warning" *ngIf="isReadOnly" [disabled]="!eConsumption.id"
                    (click)="printReport()">Print Report</button>
                <button *ngIf="eConsumption.id && eConsumption.consumptionActual" type="button" (click)="viewGraph()"
                    class="btn btn-info">View Graph</button>
            </div>

        </form>
    </div>

    <div class="col-md-5" *ngIf="eConsumption.id">

        <h5>Calculator</h5>
        <form #eConsumptionForm="ngForm" (ngSubmit)="onSubmit()" class="mt-4">

            <div class="form-row">

                <div class="form-group col-md-5">
                    <label for="selectedCustomerCategory">Customer Category</label>
                    <select [ngModel]="selectedCustomerCategory" name="selectedCustomerCategory"
                        (ngModelChange)='onCustomerCategorySelected($event)' id="selectedCustomerCategory"
                        class="form-control" required>
                        <option *ngFor="let customerCategory of customerCategoryList" [ngValue]="customerCategory">
                            {{customerCategory.name}} </option>
                    </select>
                </div>

                <div class="form-group col-md-5">
                    <label for="maxDemand">Max Demand (kVA) </label>
                    <input #maxDemand="ngModel" (ngModel)="maxDemand" (input)="changeMaxDemand($event.target.value)" name="maxDemand" id="maxDemand" type="number" min="0"
                        class="form-control" required>
                    <div class="invalid-feedback d-block" *ngIf="maxDemand.touched && maxDemand.invalid"> Max Demand (kVA)
                        Planned is Required </div>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-5">
                    <label for="consumptionActual">Consumption (kWh) </label>
                    <div class="input-group">
                        <input #consumptionActual="ngModel" [(ngModel)]="eConsumption.consumptionActual"
                            name="consumptionActual" id="consumptionActual" type="number" class="form-control" required>
                        <div class="input-group-append">
                            <button class="btn btn-warning" type="button"
                                [disabled]="eConsumption.consumptionActual == null || selectedCustomerCategory == null "
                                (click)="getCost()">Get Cost</button>
                        </div>
                        <div class="invalid-feedback d-block"
                            *ngIf="consumptionActual.touched && consumptionActual.invalid">
                            Consumption Planned is Required </div>
                    </div>
                </div>

                <div class="form-group col-md-5">
                    <label for="consumptionActualCost">Consumption Cost</label>
                    <div class="input-group">
                        <div class="input-group-prepend"> <span class="input-group-text" id="basic-addon1">LKR</span>
                        </div>
                        <input #consumptionActualCost="ngModel" [(ngModel)]="eConsumption.consumptionActualCost"
                            name="consumptionActualCost" id="consumptionActualCost" type="number" class="form-control"
                            required [readonly]="true">
                    </div>
                </div>

            </div>

            <h5 class="mt-3">Constant Values</h5>

            <div class="form-row">

                <div class="form-group col-md-5">
                    <label for="consumptionRangeStart">Range Start</label>
                    <input #consumptionRangeStart="ngModel" [(ngModel)]="customerCategoryPrice.consumptionRangeStart"
                        name="consumptionRangeStart" id="consumptionRangeStart" type="number" class="form-control"
                        required [readonly]="true">
                </div>

                <div class="form-group col-md-5">
                    <label for="consumptionRangeStop">Range Stop</label>
                    <input #consumptionRangeStop="ngModel" [(ngModel)]="customerCategoryPrice.consumptionRangeStop"
                        name="consumptionRangeStop" id="consumptionRangeStop" type="number" class="form-control"
                        required [readonly]="true">
                </div>

            </div>

            <div class="form-row">

                <div class="form-group col-md-5">
                    <label for="fixedCharge">Fixed Charge</label>
                    <div class="input-group">
                        <div class="input-group-prepend"> <span class="input-group-text" id="basic-addon1">LKR</span>
                        </div>
                        <input #fixedCharge="ngModel" [(ngModel)]="customerCategoryPrice.fixedCharge" name="fixedCharge"
                            id="fixedCharge" type="number" class="form-control" required [readonly]="true">
                    </div>
                </div>

                <div class="form-group col-md-5">
                    <label for="energyCharge">Energy Charge</label>
                    <div class="input-group">
                        <div class="input-group-prepend"> <span class="input-group-text" id="basic-addon1">LKR</span>
                        </div>
                        <input #energyCharge="ngModel" [(ngModel)]="customerCategoryPrice.energyCharge"
                            name="energyCharge" id="fixedCharge" type="number" class="form-control" required
                            [readonly]="true">
                    </div>
                </div>

            </div>

            <div class="form-row">

                <div class="form-group col-md-5">
                    <label for="fuelAdjustmentCharge">Fuel Adjustment Charge</label>
                    <div class="input-group">
                        <div class="input-group-prepend"> <span class="input-group-text" id="basic-addon1">LKR</span>
                        </div>
                        <input #fuelAdjustmentCharge="ngModel" [(ngModel)]="customerCategoryPrice.fuelAdjustmentCharge"
                            name="fuelAdjustmentCharge" id="fuelAdjustmentCharge" type="number" class="form-control"
                            required [readonly]="true">
                    </div>
                </div>

                <div class="form-group col-md-5">
                    <label for="maxDemandCharge">Max Demand Charge</label>
                    <div class="input-group">
                        <div class="input-group-prepend"> <span class="input-group-text" id="basic-addon1">LKR</span>
                        </div>
                        <input #maxDemandCharge="ngModel" [(ngModel)]="customerCategoryPrice.maxDemandCharge"
                            name="maxDemandCharge" id="maxDemandCharge" type="number" class="form-control"
                            required [readonly]="true">
                    </div>
                </div>

            </div>

        </form>

    </div>
</div>

<!-- <h5>Graphs</h5> -->

<div class="row mt-3">

    <div #graphCost id="graphCost" *ngIf="graphCostData != null">

        <h5>Planned vs Actual Cost Comparison (LKR) </h5>

        <ngx-charts-line-chart [view]="view" [legend]="legend" [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel" [xAxis]="xAxis" [yAxis]="yAxis" [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabelCost" [timeline]="timeline" [results]="graphCostData">
        </ngx-charts-line-chart>

    </div>

    <div #graphConsumption id="graphConsumption" *ngIf="graphConsumptionData != null">

        <h5>Planned vs Actual Consumption Comparison (kWh) </h5>

        <ngx-charts-line-chart [view]="view" [legend]="legend" [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel" [xAxis]="xAxis" [yAxis]="yAxis" [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabelConsumption" [timeline]="timeline" [results]="graphConsumptionData">
        </ngx-charts-line-chart>

    </div>

</div>