<div class="background-image"></div>
<div class="content mt-5">

    <div class="row">
        <div class="col">
            <div class="card" style="width:350px">
                <img class="card-img-top" src="/assets/ic_calculator.jpg" alt="Card image">
                <div class="card-body">
                    <a routerLink="/econsumption" class="btn btn-primary">Cost Calculator</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width:350px">
                <img class="card-img-top" src="/assets/ic_control_plan.jpg" alt="Card image">
                <div class="card-body">
                    <a routerLink="/econsumption/new" class="btn btn-primary">Electricity Control Plan</a>
                </div>
            </div>
        </div>
        
        <div class="col">
            <div class="card" style="width:350px">
                <img class="card-img-top" src="/assets/ic_milestones.png" alt="Card image">
                <div class="card-body">
                    <a routerLink="/mile-stone" class="btn btn-primary">Milestones</a>
                </div>
            </div>
        </div>
    </div>

    <br>

    <div class="row">
        <div class="col">
            <div class="card" style="width:350px">
                <img class="card-img-top" src="/assets/ic_loyalty.png" alt="Card image">
                <div class="card-body">
                    <a routerLink="/user" class="btn btn-primary">Loyalty Point System</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width:350px">
                <img class="card-img-top" src="/assets/ic_forecast.jpg" alt="Card image">
                <div class="card-body">
                    <a routerLink="/prediction" class="btn btn-primary">Future Consumption & Cost Forecast</a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card" style="width:350px">
                <img class="card-img-top" src="/assets/ic_dashboard.png" alt="Card image">
                <div class="card-body">
                    <a routerLink="/home" class="btn btn-primary">Progress Dashboard</a>
                </div>
            </div>
        </div>
    </div>

</div>