<div class="row mt-3">

    <div class="col-md-4 col-xl-3">
        <div class="card bg-c-pink order-card">
            <div class="card-block">
                <h6 class="m-b-20">This Month Planned</h6>
                <h2 class="text-right"><i
                        class="fa fa-credit-card f-left"></i><span>{{currentMonthEconsumption?.consumptionPlanned}}
                        kWh</span></h2>
                <p class="m-b-0">Cost<span class="f-right">LKR
                        {{currentMonthEconsumption?.consumptionPlannedCost}}</span></p>
            </div>
        </div>
    </div>

    <div class="col">

    </div>

</div>

<div class="row mt-3">

    <div class="col-md-4 col-xl-3">
        <div class="card bg-c-blue order-card">
            <div class="card-block">
                <h6 class="m-b-20">Last 6 Months</h6>
                <h2 class="text-right"><i class="fa fa-cart-plus f-left"></i><span>{{last6MonthsKwhUsage}} kWh</span></h2>
                <p class="m-b-0">Cost<span class="f-right">LKR {{last6MonthsKwhCost}}</span></p>
            </div>
        </div>
    </div>

    <div class="col-md-4 col-xl-3">
        <div class="card bg-c-green order-card">
            <div class="card-block">
                <h6 class="m-b-20">Current Year Usage</h6>
                <h2 class="text-right"><i class="fa fa-rocket f-left"></i><span>{{currentYearKwhUsage}} kWh</span></h2>
                <p class="m-b-0">Cost<span class="f-right">LKR {{currentYearKwhCost}}</span></p>
            </div>
        </div>
    </div>

    <div class="col-md-4 col-xl-3">
        <div class="card bg-c-yellow order-card">
            <div class="card-block">
                <h6 class="m-b-20">Mile Stone Achieved for Current Year</h6>
                <h2 class="text-right"><i
                        class="fa fa-refresh f-left"></i><span>{{currentYearMileStonePercentage}}%</span></h2>
                <p class="m-b-0">Mile Stones<span class="f-right"> {{currentYearMileStoneAchieved}} of
                        {{currentYearMileStoneTotal}} </span></p>
            </div>
        </div>
    </div>

</div>

<h5>Consumption Graph</h5>

<div class="row mt-5">
    <ngx-charts-line-chart [view]="view" [legend]="legend" [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel" [xAxis]="xAxis" [yAxis]="yAxis" [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisConsumptionLabel" [timeline]="timeline" [results]="graphConsumptionData">
    </ngx-charts-line-chart>

</div>

<h5>Cost Graph</h5>

<div class="row mt-5">
    <ngx-charts-line-chart [view]="view" [legend]="legend" [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel" [xAxis]="xAxis" [yAxis]="yAxis" [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisCostLabel" [timeline]="timeline" [results]="graphCostData">
    </ngx-charts-line-chart>

</div>