<div class="row">
    <div class="carousel">
        <div class="carousel-inner">

            <div class="item active"><img class="car" src="assets/bg_login_blur.jpg" alt="" />
                <div class="carousel-caption">
                    <h2 class="font-weight-bold tt">
                        The ideal guide to save energy at your workplace!
                        Our knowledge is your power</h2>
                    <br>
                    <h3>ALL-IN-ONE ELECTRICITY MANAGEMENT SYSTEM IN SRI LANKA THAT'S
                        AFFORDABLE AND ADAPTABLE</h3>
                    <br>
                    <h5> We monitor and control your company's electricity usage, set limits, suggest
                        improvements, predict future consumption and more! </h5>

                </div>
            </div>

        </div>

    </div>

</div>

<div class="row mt-5 mb-5">

</div>




<div class="row">
    <div class="col">
        <div class="card" style="width:350px">
            <img class="card-img-top" src="/assets/ic_calculator.jpg" alt="Card image">
            <div class="card-body">
                <a routerLink="/econsumption" class="btn btn-primary">Cost Calculator</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card" style="width:350px">
            <img class="card-img-top" src="/assets/ic_control_plan.jpg" alt="Card image">
            <div class="card-body">
                <a routerLink="/econsumption/new" class="btn btn-primary">Electricity Control Plan</a>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card" style="width:350px">
            <img class="card-img-top" src="/assets/ic_milestones.png" alt="Card image">
            <div class="card-body">
                <a routerLink="/mile-stone" class="btn btn-primary">Milestones</a>
            </div>
        </div>
    </div>
</div>

<br>

<div class="row">
    <div class="col">
        <div class="card" style="width:350px">
            <img class="card-img-top" src="/assets/ic_loyalty.png" alt="Card image">
            <div class="card-body">
                <a routerLink="/user" class="btn btn-primary">Loyalty Point System</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card" style="width:350px">
            <img class="card-img-top" src="/assets/ic_forecast.jpg" alt="Card image">
            <div class="card-body">
                <a routerLink="/prediction" class="btn btn-primary">Future Consumption & Cost Forecast</a>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card" style="width:350px">
            <img class="card-img-top" src="/assets/ic_dashboard.png" alt="Card image">
            <div class="card-body">
                <a routerLink="/home" class="btn btn-primary">Progress Dashboard</a>
            </div>
        </div>
    </div>

</div>