<div class="row mt-5">

    <div class="col-md-4 col-xl-3">
        <div class="card bg-c-pink order-card">
            <div class="card-block">
                <h6 class="m-b-20">This Month</h6>
                <h2 class="text-right"><i class="fa fa-credit-card f-left"></i><span>486 kWh</span></h2>
                <p class="m-b-0">Cost<span class="f-right">LKR 123</span></p>
            </div>
        </div>
    </div>

    <div class="col">
        
    </div>

</div>

<div class="row mt-5">

    <div class="col-md-4 col-xl-3">
        <div class="card bg-c-blue order-card">
            <div class="card-block">
                <h6 class="m-b-20">Last 6 Months</h6>
                <h2 class="text-right"><i class="fa fa-cart-plus f-left"></i><span>{{last6MonthsKwhUsage}}</span></h2>
                <p class="m-b-0">Cost<span class="f-right">LKR {{last6MonthsKwhCost}}</span></p>
            </div>
        </div>
    </div>

    <div class="col-md-4 col-xl-3">
        <div class="card bg-c-green order-card">
            <div class="card-block">
                <h6 class="m-b-20">Current Year Usage</h6>
                <h2 class="text-right"><i class="fa fa-rocket f-left"></i><span>{{currentYearKwhUsage}} kWh</span></h2>
                <p class="m-b-0">Cost<span class="f-right">LKR {{currentYearKwhCost}}</span></p>
            </div>
        </div>
    </div>

    <div class="col-md-4 col-xl-3">
        <div class="card bg-c-yellow order-card">
            <div class="card-block">
                <h6 class="m-b-20">Mile Stone Achieved</h6>
                <h2 class="text-right"><i
                        class="fa fa-refresh f-left"></i><span>{{currentYearMileStonePercentage}}%</span></h2>
                <p class="m-b-0">Mile Stones<span class="f-right"> {{currentYearMileStoneAchieved}} of
                        {{currentYearMileStoneTotal}} </span></p>
            </div>
        </div>
    </div>


</div>
<!-- </div> -->