<div class="background-image"></div>
<div class="content">

    <div class="container mt-2">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">
                        <h1 class="h3 mb-3 text-center">Create Your Account in 30 seconds</h1>
                    </div>

                    <div class="card-body">
                        <form #registerForm="ngForm" (ngSubmit)="onSubmit()">

                            <h3 class="h3 mt-3 mb-3 text-left font-weight-normal">Personal Details</h3>

                            <div class="form-group row">
                                <label for="firstName" class="col-md-4 col-form-label text-md-right">First Name</label>
                                <div class="col-md-6">
                                    <input type="text" #firstName="ngModel" [(ngModel)]="user.firstName" id="firstName"
                                        class="form-control" name="firstName" required>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="lastName" class="col-md-4 col-form-label text-md-right">Last Name</label>
                                <div class="col-md-6">
                                    <input type="text" #lastName="ngModel" [(ngModel)]="user.lastName" id="lastName"
                                        class="form-control" name="lastName" required>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="email" class="col-md-4 col-form-label text-md-right">Email</label>
                                <div class="col-md-6">
                                    <input type="email" #email="ngModel" [(ngModel)]="user.email" id="email"
                                        class="form-control" name="email" required>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="phone" class="col-md-4 col-form-label text-md-right">Phone</label>
                                <div class="col-md-6">
                                    <input type="text" #phone="ngModel" [(ngModel)]="user.phone" id="phone"
                                        class="form-control" name="phone" required>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="password" class="col-md-4 col-form-label text-md-right">Password</label>
                                <div class="col-md-6">
                                    <input type="password" #password="ngModel" [(ngModel)]="user.password" id="password"
                                        class="form-control" name="password" required>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="password2" class="col-md-4 col-form-label text-md-right">Confirm Password</label>
                                <div class="col-md-6">
                                    <input type="password" id="password2" class="form-control" name="password2" required>
                                </div>
                            </div>

                            <h3 class="h3 mt-3  mb-3 text-left font-weight-normal">Company Details</h3>

                            <div class="form-group row">
                                <label for="companyName" class="col-md-4 col-form-label text-md-right">Company Name</label>
                                <div class="col-md-6">
                                    <input type="text" #companyName="ngModel" [(ngModel)]="user.companyName" id="companyName"
                                        class="form-control" name="companyName" required>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="companyAddress" class="col-md-4 col-form-label text-md-right">Company Address</label>
                                <div class="col-md-6">
                                    <input type="text" #companyAddress="ngModel" [(ngModel)]="user.companyAddress" id="companyAddress"
                                        class="form-control" name="companyAddress" required>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="companyCity" class="col-md-4 col-form-label text-md-right">Company City</label>
                                <div class="col-md-6">
                                    <input type="text" #companyCity="ngModel" [(ngModel)]="user.companyCity" id="companyCity"
                                        class="form-control" name="companyCity" required>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="companyProvince" class="col-md-4 col-form-label text-md-right">Company Province</label>
                                <div class="col-md-6">
                                    <input type="text" #companyProvince="ngModel" [(ngModel)]="user.companyProvince" id="companyProvince"
                                        class="form-control" name="companyProvince" required>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="companyPhone" class="col-md-4 col-form-label text-md-right">Company Phone</label>
                                <div class="col-md-6">
                                    <input type="text" #companyPhone="ngModel" [(ngModel)]="user.companyPhone" id="companyPhone"
                                        class="form-control" name="companyPhone" required>
                                </div>
                            </div>

                            <div class="col-md-6 offset-md-4">
                                <button type="submit" class="btn btn-primary">Register</button>
                                <a routerLink="/login" class="btn btn-warning">Login</a>
                            </div>

                        </form>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>